
include_HEADERS = \
                  output/{{ interface_name }}/{{ interface_name }}_data.hpp \
                  output/{{ interface_name }}/{{ interface_name }}_client.hpp \
                  output/{{ interface_name }}/{{ interface_name }}_server.hpp
