#include "{{ interface_name }}_client_if.hpp"
#include "{{ interface_name }}_data_orm.hpp"

{% if scope != "" %}
namespace {{ scope }} {
{% endif %}

{{ name }}ClientIF::{{ name }}ClientIF (const char* address_) : drpc::AsyncClientHandler(address_) {
}

{{ name }}ClientIF::~{{ name }}ClientIF () {
}

/* ******** Switch interface for receive message ******** */
drpc::Message {{ name }}ClientIF::switch_interface(drpc::Message& msg) {
    if (msg.empty()) {
        return {};
    }

    auto part = msg[0];
    auto ident = drpc::unpackCallIdent(std::move(part));
    switch (static_cast<{{ name }}Api>(ident.interface)) {

    /* ******** Response interface ******** */
    {% for function in reqrep_functions %}
    case {{ name }}Api::{{ function.ident }}:
        this->on_result_{{ function.ident }} (drift::orm::msgpack_unpack<{% for output in function.outputs %}{{ output.type }}{% endfor %}>(msg[1]));
        break;{% endfor %}

    /* ******** Broadcast interface ******** */
    {% for function in broadcast_functions %}
    case {{ name }}Api::{{ function.ident }}:
        this->on_notify_{{ function.ident }}({% for input in function.inputs %}drift::orm::msgpack_unpack<{{ input.type }}>(msg[{{ input.index }} + 1]){% if not input.is_last %}, {% endif %}{% endfor %});
        break;{% endfor %}
    default:
        break;
    }

    return {};
}

const char* interface_version() {
    return "{{ version }}";
}

/* ******** Request interface ******** */
{% for function in reqrep_functions %}
// {{ function.comment }}
void {{ name }}ClientIF::{{ function.ident }} ({% for input in function.inputs %}{{ input.type }} {{ input.name }}_{% if not input.is_last %}, {% endif %}{% endfor %}) {
    drpc::Message msg;
    drpc::CallIdent ident{static_cast<uint8_t>({{ name }}Api::{{ function.ident }}), 0};
    msg.emplace_back(drpc::packCallIdent(std::move(ident)));
    {% for input in function.inputs %}
    msg.emplace_back(drift::orm::msgpack_pack({{ input.name }}_));{% endfor %}
    this->send(std::move(msg));
}
{% endfor %}

{% if scope != "" %}
} // namespace {{ scope }}
{% endif %}
